/* Light [grey] colours */
.w-commerce-commercecartopenlinkicon.carticon.light, .carttext.light.w-inline-block, .navlink_light  {
  color: #a8aebf;
}
/* Dark [green] colours */
.navlink_light.desktop_only.w-nav-link.w--current {
  color: #5e9289 !important;
}
/* Portrait and Landscape */
@media only screen and (max-width: 600px) {
  /* Light [grey] colours */
  .w-commerce-commercecartopenlinkicon.carticon.light, .carttext.light.w-inline-block, .navlink_light  {
    color: #c4e2dc !important;
  }
}
